colorChip {
    --size: 24px;

    min-width: var(--size);
    min-height: var(--size);

    border-radius: 4px;
    border: 1px solid var(--border-color);
}

.bar {
    border: none;
    padding-top: 8px;
}

.layer_selected {
    background-color: hsl(from var(--accent-bg-color) h calc(s * 0.8) l / 0.5);
}

.layer_children {
    padding-left: 4px;
    border-left: 1px solid var(--border-color);
}

.rounded {
    border-radius: 16px;
}

.filled_scale {
    margin: 0;
    padding: 0;
}

.filled_scale trough {
    min-height: 24px;
    margin: 0;
}

.filled_scale slider {
    opacity: 0.5;
    transform: scale(0.3) translateX(-32px);
}

.layer_label {
    font-size: 13px;
}

.subtext {
    font-size: 11px;
}
